<div id="notice"></div>
<div id="reservation">
  <% if !@user_reservations.empty? %>
    
    <%= render 'reservations/show', reservation: @reservations = @user_reservations %>
  <% else %>
    <p>No current reservations</p>
  <% end %>
</div>