<h1>Reservations</h1>
<% @reservations.each do |reserv| %>
  <div class="row justify-content-md-center align-items-center">
    
    <form class="form-inline">
    <div class="col-10">
      <div class="row">
        <div class="col-2">
          Room: <%= reserv.room.name %>
        </div>
        <div class="col-2">
          Capacity: <%= reserv.room.capacity %>
        </div>
        <div class="col-2">
          Reserved From: <%= reserv.start_date %>
        </div>
        <div class="col-2">
          To: <%= reserv.end_date %>
        </div>
      </div>
    </div>
    
    </form>
  </div>
<% end %>

